.home{
    display: flex;
    flex-direction: column;
}

.logo{
    height: 300px;
    margin-top: 30px;
    margin-bottom: 120px;
}

.bienvenido{
    font-family: Oswald;
    color: rgb(181, 43, 179);
    font-size: 80px;
    align-self: flex-end;
    padding-right: 50px;
}